/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.main-body {
  background-image: url(/public/images/site/checkerboard.jpg);
  background-repeat: repeat;
}

header {
  display: flex;
}